@use '../../styles/' as *;

.wrapper {
    position: absolute;
    @include flex-center();
    width: 100vw;
    height: 100vh;
    // margin-top: -80px;
    margin-left: -70px;
    margin-right: -70px;

    background: url('https://img.freepik.com/free-vector/3d-background-with-abstract-blue-sky-shapes_52683-35352.jpg?w=1060&t=st=1682063210~exp=1682063810~hmac=a264eac061218ec3ea91674d9504afd54f5a4592a0a761115a2f4b1f7c74368d');
    background-repeat: no-repeat;
    background-size: cover;

    .login-form {
        display: flex;
        flex-direction: column;

        padding: 48px;
        width: 420px;
        // height: 300px;

        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7));
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);

        border-radius: 8px;
        overflow: hidden;

        .title {
            margin-bottom: 24px;

            font-size: 4rem;
            letter-spacing: 1px;
            text-align: center;
            color: #333;
            text-shadow: 1px 1px 3px #8a8a8a;
            font-weight: bold;
        }
        .input {
            padding: 8px 16px;
            margin: 8px 0px;

            font-size: 1.8rem;
            color: #555;

            border-radius: 4px;
            border: 1px solid transparent;
            &:focus {
                border: 1px solid $primary;
            }
        }
        .username {
        }
        .password {
        }

        .login-btn {
            margin: 16px 0px;
            letter-spacing: 1px;
        }

        .suggest-register {
            padding: 8px;
            text-align: center;
            .register-btn {
                margin-left: 6px;
                color: $primary;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        &:has(.error-wrapper) {
            padding: 0;
        }

        .error-wrapper {
            @include flex-center();
            flex-direction: column;

            padding: 24px;

            width: 100%;
            height: 100%;

            background: #fff;

            .notification {
                margin-bottom: 24px;
                color: $primary;
                font-size: 2rem;
            }
        }
    }
}
