@use '../../styles/' as *;

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    min-width: 100px;
    height: 42px;

    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);

    border-radius: 4px;
    border: 1px solid transparent;

    background: #fff;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    // width: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

//Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgb(22, 24, 35, 0.12);
    &:hover {
        border-color: rgb(22, 24, 35, 0.2);
        background-color: rgb(22, 24, 35, 0.03);
    }
}

.primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;

    &:hover {
        border-color: $primary;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), $primary;
    }
}

.success {
    color: #fff;
    background-color: $success;
    border-color: $success;

    &:hover {
        border-color: $success;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), $success;
    }
}

.outline {
    color: $primary;
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//Button sizes
.small {
    padding: 4px 16px;
    min-width: 88px;
}
.large {
    padding: 14px 16px;
    min-width: 140px;
}
