@use '../../styles/index' as *;

.wrapper {
    display: flex;
    align-items: center;

    flex-direction: column;
    min-height: 100vh;

    .input-wrapper {
        width: 100%;
        height: 44px;

        @include flex-center();

        .input-url {
            margin: 0 16px;
            padding: 8px;
            height: 100%;

            width: min(900px, 50%);

            color: #888;
            font-weight: bold;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid $primary;
        }

        .submit-btn {
            height: 100%;
        }
    }
    .info__wrapper {
        color: $primary;
        padding: 8px;
        .info__field {
            margin: 8px;
        }
        .info_html {
            .h_tag {
                margin: 8px;
            }
        }
    }

    .result-wrapper {
        .links {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            .link-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                .img-item {
                    padding: 8px;
                    font-size: 2rem;
                }
                .img-item {
                    width: 270px;
                    height: 180px;
                    object-fit: cover;
                }
            }
        }
    }
}
