.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ff964f;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    p {
        // font-size: 2.5rem;
        font-weight: bold;
        color: #555;
        text-transform: uppercase;
        user-select: none;
    }
}
